@import "compass_twitter_bootstrap";
@import "geoboard";
@import "layout";

body {
  h1.title-box {
    color: #332d2a;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccdccb;
    font-size: 22px;
  }
}

header {
  padding: 40px;
}

header.navigation-home {
  padding: 0px;
}

section.link-header {
  text-align: center;
  ul {
    list-style: none;
    text-align: center;
    margin-left: 0px;
  }
  li.tag {
    display: inline-block;
    a {
      width: 75px;
      height: 45px;
    }
  }
}

section.main-header {
  height: 200px;
  h1.app-name {
    font-size: 30px;
    color: #332d2a;
  }
}
section.search-header {
  margin-bottom: 20px;
  form.search-bar {
    padding: 15px;
    text-align: center;
  }
  label.search-label {
    font-size: 26px;
    margin-right: 10px;
  }
  input.search-query {
    padding-left: 10px;
    font-size: 26px;
    width: 350px;
  }
}

section.announcements {
  
}