<div class="geothread" id="geothread#{{thread.id}}">
  <table class="geothread-preview-table">
    <tbody class="geothread-preview-body">
      <tr class="geothread-preview-row">
        <td class="geothread-point-column">
          <span class="geothread-point">!</span>
        </td>
        <td class="geothread-posts-column">
          <ul class="geoposts">
            <geopost ng-repeat="post in thread.posts"></geopost>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>  
</div>

