navigation(ng-controller="NavigationCtrl")

header.threads-section
  div.container
    div.row
      div.span12.geothreads-container
        h1.title-box Threads: {{query}}
        geothreadpreview(ng-repeat="thread in threads")