header.tags-section
  div.container
    div.row
      div.span12.relevant-tags
        h1.title-box Tags: {{query}}
    div.row
      div.span3.geotag(ng-repeat="tag in tags") {{tag.tagname}}

section.threads-section
  div.container
    div.row
      div.span12.geothreads-container
        h1.title-box Threads: {{query}}
        geothreadpreview(ng-repeat="thread in threads")