<li class="geopost" id="geopost#{{post.id}}">
  <table class="geopost-table" cellspacing="0">
    <tbody class="geopost-body">
      <tr class="geopost-row">
        <td class="geopost-column">
          <div class="geopost-header">
            By: {{post.username}} | ID: {{post.id}}
          </div>
          <div class="geopost-content">
            <span class="geopost-thumbnail">
            </span>
            {{post.content}}
          </div>
        </td>
        <td class="geopost-filler"></td>
      </tr>
    </tbody>
  </table>
</li>
