div.navigation.navbar.navbar-fixed-top
  div.navbar-inner
    div.container
      div.nav-collapse.collapse
        ul.nav
          li(ng-repeat="link in links")
            a(href="#/q/{{link.tagname | queryString}}") {{link.tagname}}
