.geoposts {
  width: 480px;
  list-style: none;
  .geopost {
    margin-left: 0px;

    .geopost-filler {
      height: 10px;
    }

    .geopost-column {
      padding: 10px;
      border-bottom: 2px solid #213221;
      background: #eeffee
    }
  }
}