<!-- Refactor to directive -->
<div class="geothread" ng-repeat="thread in threads" id="geothread#{{thread.id}}">
  <table class="geothread-preview-table">
    <tbody class="geothread-preview-body">
      <tr class="geothread-preview-row">
        <td class="geothread-point-column">
          <span class="geothread-point">!</span>
        </td>
        <td class="geothread-posts-column">
          <ul class="geoposts">
            <li class="geopost" ng-repeat="post in thread.preview_posts">
              Refactor to Directive! {{post.id}}
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>  
</div>

<!-- Refactor to directive / shared partial -->
<div class="footer-dock" ng-controller="FooterDockCtrl">
  <ul class="footer-dock-list">
    <li class="footer-dock-icon" ng-repeat="link in links">
      <a href="{{link.href}}">{{link.action}}</a>
    </li>
  </ul>
</div>